---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// @import "normalize";
@import "susy";
@include border-box-sizing;

// Our variables
$base-font-family: Baskerville,Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #EFEFEF;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$cream:				#EFEFEF;
$gray:				#222222;
$navy:				#000030;
$maroon:			#300000;
$hunter:			#003000;
$black:				#000000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
        // "susy"
;

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12,
  // debug: (image: show),
  // gutter-position: inside,
  );
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
html {
	height: 100%;
}
.wrap {
@include container(1000px);
	// height: 100vh;
}
body {
	// border: solid green 1px;
	background-color: $gray;
	height: 100%;
	// color: $cream;
}
header {
	background-color: $gray;
	width: 100%;
	height: 100px;
}
header, footer {
	color: $cream;
	text-align: center;
}
.logo {
	font-size: 100px;
	// padding-top: -20px;
	line-height: 1
}
.content {
	// background-color: pink;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: $cream;
	text-align: center;

}
.writer-box {
	background-color: $maroon;
	height: 100vh;
	@include span(4 of 12 inside);
	font-family: Courier,"Courier New",monospace;
	font-weight: normal;
}
.coder-box {
	background-color: $navy;
	height: 100vh;
	@include span(4 of 12 inside);
	font-family: monaco,Consolas,"Lucida Console",monospace;
}
.photo-box {
	background-color: $black;
	height: 100vh;
	@include span(4 of 12 last inside);
	font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
	h1 {
	font-weight: bold;
	}
}
footer {
	background-color: $gray;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
}


