---
layout: writing
---
  <div class="container">

		<div class="post">
		  <header class="post-header">
		    <h1 class="post-title">{{ page.title }}</h1>
		    
		  </header>
		  <article class="post-content">
		    {{ content }}
		  </article>
		  <p class="post-meta"><a href="https://twitter.com/rodmachen" target="blank">@rodmachen</a> • {{ page.date | date: "%B %d, %Y" }}<!-- {% if page.author %} • {{ page.author }}{% endif %} -->{% if page.meta %} • {{ page.meta }}{% endif %}</p>
		</div>
	<!-- <h1 class="title">Austin Stories</h1> -->
		
  </div>
