.code {
	body {
		p {
			font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
			font-weight: 400;
			font-size: 1.5em;
			line-height: 1.33em;
		}
	}
	header.navigation {
		background-color: #003000;
	}

	.centered-navigation {
		background-color: #003000;
		}

	.footer-2 {
		background: #003000;
		@include span-columns(16 of 16);
	}
	h2.writing, h2.photo {
		opacity: .4;
	}
	.container {
		@include outer-container;
	}
	.section {
		@include span-columns(11 of 16);
		// border: 1px solid #000050;
	}
	.aside {
		@include span-columns(5 of 16);
		// border: 1px solid #000050;
		text-align: center;	
		p {
			font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
			font-weight: bold;
		}
	}
	a.post-link {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 44px;
		margin-bottom: -1em;
	}
	h1.post-title {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 48px;
		margin-bottom: .5em;
	}
	.page-heading{
		font-weight: normal;
		// text-align: center;	
		font-size: 5.4em;
		// margin-bottom: .5em;
		// visibility: hidden;
	}
	.menu {
		// font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
		font-weight: 600;
		font-size: 4em;
		margin-bottom: .5em;
		// visibility: hidden;
	}
	.post-meta {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 1em;
	}
}