.code {
	body {
		p {
			font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
			font-weight: 400;
			font-size: 1.5em;
			line-height: 1.25em;
		@include media($medium-screen-down) {
			font-size: 1.25em;
			line-height: 1.1em;
		}
		}
	}
	header.navigation {
		background-color: #003000;
		margin-bottom: 0px;
	}

	.centered-navigation {
		background-color: #003000;
		}

	.footer-2 {
		background: #003000;
		@include span-columns(16 of 16);
		margin-top: 0px;
	}
	h2.writing, h2.photo {
		opacity: .4;
	}
	.container {
		@include outer-container;
		padding: 2em;
		@include media($medium-screen-down) {
			padding: 1em .5em 0em .5em;
		}
	}
	.section {
		// @include span-columns(16 of 16);
		padding: 0 2em;
		@include media($medium-screen-down) {
			padding: 0 .5em;
		}
		// border: 1px solid #000050;
		// background: #ffffff;
		@include span-columns(11 of 16);
		@include media($large-screen-down) {
			@include span-columns(16 of 16);
		}
		@include media($medium-screen-down) {
			@include span-columns(16 of 16);
		}


	}
	.aside {
		padding: 1em;
		// margin: 1em;
		@include span-columns(5 of 16);		
		@include media($large-screen-down) {
			@include span-columns(16 of 16);
		}
		@include media($medium-screen-down) {
			@include span-columns(16 of 16);
		}


		// background: #ffffff;
		
		// border: 1px solid #000050;
		text-align: center;	
		p {
			font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
			font-weight: normal;
		}
	}

	.sub-aside {
		background: #dddddd;
		margin: 1em 0;
		padding: 1em;
		height: 450px;
		@include media($medium-screen-down) {
			height: 310px;
		}
		border: 1px solid #009000;
		p.about-text {
			font-size: 1.6em;
			line-height: 1.25em;
			text-align: left;
			// font-weight: bold;
		}
		@include span-columns(16 of 16);		
		@include media($large-screen-down) {
			@include span-columns(8 of 16);
		}
		@include media($medium-screen-down) {
			@include span-columns(16 of 16);
		}
	}
	.menu {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		// font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
		// font-weight: bold;
		font-size: 4em;
		margin-bottom: .25em;
		// visibility: hidden;
		@include media($medium-screen-down) {
			font-size: 2.5em;
			line-height: 1.1em;
		}
	}
	p.sub-heading {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: normal;
	}
	.center {
		text-align: center;
	}
	a.post-link {
		// font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-size: 44px;
		margin-bottom: -1em;
		line-height: 1.25em;
		@include media($medium-screen-down) {
			font-size: 30px;
			line-height: 1em;
		}
	}
	h1.post-title {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		// font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
		font-weight: bold;
		font-size: 48px;
		// margin-bottom: .5em;
		text-align: center;
		@include media($medium-screen-down) {
			font-size: 32px;
			line-height: 1em;
		}

	}
	.page-heading{
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: bold;
		// font-weight: normal;
		text-align: center;	
		font-size: 5.5em;
		// margin-bottom: .5em;
		// visibility: hidden;
		@include media($medium-screen-down) {
			font-size: 2.5em;
			line-height: 1em;
		}
	}
	.all-posts{
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: bold;
		// font-weight: normal;
		// text-align: center;	
		font-size: 2.5em;
		// margin-bottom: .5em;
		// visibility: hidden;
			text-align: center;
			color: #005000;
	}

	.post-meta {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 1em;
	}
	.texture-normal {
	  @include texture(180deg, lighten(#eeeeee, 1), darken(#eeeeee, 1), 62, 1); 
	}

}