
// @charset "utf-8";
// @import "compass";
// @import "normalize";
// @import "susy";
// @import "memo";
// @import "breakpoint";
// @include border-box-sizing;



// $susy: (
//   global-box-sizing: border-box,
//   use-custom: (rem: true),
//   columns: 12,
//   // debug: (image: show),
//   // gutter-position: inside,
//   );

.home {
	.content {
		@include outer-container(100%);
	}
	.container {
		@include fill-parent();
		@include row(table);	
	}
	.box {
		height: 50vh;
		color: $cream;
		position: relative;
		padding: 0;
		h1 {
			font-size: 70px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			// transform: translate5(-50%);
			text-align: center;
			width: 90%;
		}
	}
	.box.main {
		background-color: $maroon;
					margin-left: auto;
    		margin-right: auto;

		h1 {
			font-family: 'Libre Baskerville', Baskerville, Georgia,serif;
			font-weight: normal;
		}
		@include span-columns(6 of 12, table);
		@include pad();
	}
	.box.writing {
		background-color: $navy;	
		h1 {
			font-family: "Courier New",Courier,monospace;
			font-weight: normal;
		}
		@include span-columns(6 of 12, table);
		@include reset-display;
		@include pad();
	}
	.box.photo {
		background-color: $black;
		h1 {
			font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
			font-weight: bold;
		}
		@include span-columns(6 of 12, table);
		@include pad();
	}

	.box.code {
		background-color: $hunter;
		h1 {
			font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
			font-weight: 600;
		}
		@include span-columns(6 of 12, table);
		@include reset-display;
		@include pad();
		// padding: 0;

	}

	// .box {
	// 	height: 25vh;
	// 	text-align: center;
	// 	color: $cream;
	// 	.blurb {
	// 		width: 100%;
	// 		margin: 0 auto;
	// 		position: relative;
	// 	  	top: 50%;
	// 	  	transform: translateY(-50%);

	// 	}
	// 	h1 {
	// 		font-size: 2.75rem;	
	// 	}
	// }
	// .box.main:hover {
	// 	background-color: #400000;
	// }
	// .box.writing:hover {
	// 	background-color: #000040;
	// }
	// .box.code:hover {
	// 	background-color: #003000;
	// }
	// .box.photo:hover {
	// 	background-color: #111111;
	// }
	.box.main:hover {
		background-color: #500000;
	}
	.box.writing:hover {
		background-color: #000040;
	}
	.box.code:hover {
		background-color: #004000;
	}
	.box.photo:hover {
		background-color: #111111;
	}

	// @include media($desktop-landscape) {


}


