
// @charset "utf-8";
// @import 'bourbon';
// @import 'neat';
// @import 'bitters';
// @import 'refills';
// @import "compass";
// @import "normalize";
// @import "susy";
// @import "memo";
// @import "breakpoint";
// @include border-box-sizing;


@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Jura:600);
// @import url("http://fonts.googleapis.com/css?family=Old+Standard+TT");
// @import url("http://fonts.googleapis.com/css?family=Electrolize");

// Our variables
$base-font-family: 'Libre Baskerville', Baskerville, Georgia,serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #EFEFEF;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

// $susy: (
//   global-box-sizing: border-box,
//   use-custom: (rem: true),
//   columns: 12,
//   // debug: (image: show),
//   // gutter-position: inside,
//   );
// h1, h2, h3, h4, h5, h6 {
// 	font-weight: 300;
// }

html {
	// height: 100%;
}
// .wrap {
// @include container(100%);
// }
body {
	// background-color: $hunter;
	// height: 100%;
	// color: $cream;
}
body, h1{
	margin: 0;
    // padding: 0;
}
header {
	width: 100%;
	height: 90px;
	font-family: 'Libre Baskerville', Baskerville, Georgia,serif;
	// z-index: 2;
	// position: absolute;
	color: $cream;
	// text-align: center;
	// width: 100%;

}
	.logo {
		font-size: 65px;
		// @include span(2 of 16);
		// padding-top: -20px;
		line-height: 1;
		// float: left;
		// margin: 10px 20px;
		display: inline-block;

	}
	.name {
		line-height: 2.5;
		font-size: 32px;
		// clear: both;
		display: inline-block;

	}
	.logo-name {
		border: 1px solid green;
		margin: auto 0;
	}

.content {
	background-color: pink;
	width: 100%;
	margin: 0 auto;
}

.box {
	height: 25vh;
	text-align: center;
	color: $cream;
	.blurb {
		width: 100%;
		margin: 0 auto;
		position: relative;
	  	top: 50%;
	  	transform: translateY(-50%);

	}
	h1 {
		font-size: 44px;	
	}
}
.box.main:hover {
	background-color: #400000;
}
.box.writing:hover {
	background-color: #000050;
}
.box.code:hover {
	background-color: #003000;
}
.box.photo:hover {
	background-color: #222222;
}
.main {
	background-color: $maroon;
	h1 {
		font-family: 'Libre Baskerville', Baskerville, Georgia,serif;
		font-weight: normal;
	}
}
.writing {
	background-color: $navy;	
	h1 {
		font-family: "Courier New",Courier,monospace;
		font-weight: normal;
	}
}

.code {
	background-color: $hunter;
	h1 {
		font-family: 'Jura','Electrolize',monaco,Consolas,"Lucida Console",monospace;
		font-weight: 600;
	}
}
.photo {
	background-color: $black;
	h1 {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
		font-weight: bold;
	}
}

footer {
	// background-color: $hunter;
	bottom: 0;
	width: 100%;
	z-index: 2;
	position: absolute;
	color: $cream;
	text-align: center;
	margin: auto 0;
	width: 100%;
}

