.main {
	header.navigation {
		background-color: #000040;
		// background-color: #400;
  		margin-bottom: 50px;
	}

	.centered-navigation {
		// background-color: #400;
	}

	.footer-2 {
		background: #000040;
		// background: #400;
	}
	h2.photo {
		font-weight: bold;
	}

}