.photo {
	header.navigation {
		background-color: #111111;
		// ul li.nav-link {
		// 	background-color: #200;
		// }
		// &a {
		// 	background-color: #111111;
		// }
	}

	.centered-navigation {
		background-color: #111111;

		}

	.footer-2 {
		background: #111111;
	}


}