.photo {

	header.navigation {
		background-color: #111111;

	}
	.centered-navigation {
		background-color: #111111;
		}
	.footer-2 {
		background: #111111;
        margin-top: 40px;
	}
	h2.writing, h2.code {
		opacity: .5;
	}
	h2.photo {
        font-weight: bold;
	}
	.construction {
		font-size: 7em;
        font-family: Helvetica, sans-serif;
        text-align: center;
	}
	.container-box {
		height: 63vh;

	}

}