.photo {
	header.navigation {
		background-color: #111111;

	}
	.centered-navigation {
		background-color: #111111;
		}
	.footer-2 {
		background: #111111;
	}
	h2.writing, h2.code {
		opacity: .5;
	}
	h2.photo {
        // font-weight: bold;
	}
}