.writing {
	body {
		// background: #eeeeee;
		font-family: Courier,"Courier New",monospace;
	}
	header.navigation {
		background-color: #400000;
		// background-color: #000040;
		margin-bottom: 0px;
	// #push-right {
 //      padding-left: 22px;
 //    @include media($large-screen-down) {
 //      padding-left: 132px;
 //    }
 //  }
	}
	.centered-navigation {
		// font-family: 'Libre Baskerville', Baskerville, Georgia,serif;
			font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
			font-weight: bold;

		background-color: #700000;
		// background-color: #000070;
		font-size: 1.33em;
		// margin-bottom: 1.5em;
		line-height: 1.33em;
		ul {
			// width: 840px;
		}
		}
	.footer-2 {
		margin-top: 0em;
		background: #400000;
	// #push-right {
 //      padding-left: 202px;
 //    @include media($large-screen-down) {
 //      padding-left: 132px;
 //    }
 //  }
	}
	.cards {
	}

	.card {
		// margin: 1em;
		@include media($large-screen) {
	    @include span-columns(12);  
	    // @include omega(3n);
	  }
	}
	.card, .card-header {
	  	background: #FAFAFA;
	}
	.card-header {
		// margin: 0 2em;
		padding: 1em ;
		color: #500000;
		a {color: #500000;}
		@include media($medium-screen-down) {
			padding: .5em;
		}
	}
	.card-copy {
		height: auto;
		padding: .75em 1.5em;
		@include media($medium-screen-down) {
			padding: 0.5em .75em;
		}
	}
	.title, .title-name {
		text-align: center;
		font-size: 48px;
		font-weight: normal;
		margin-bottom: 16px;
		// color: #500000;
		a {color: #600000;}
		@include media($medium-screen-down) {
			font-size: 28px;
	    }
	}
	.title {
	}
	.title-name {
		font-size: 80px;
		@include media($medium-screen-down) {
			font-size: 44px;
	    }
	}
	h2.code {
		opacity: .5;
	}
	h2.photo {
		opacity: .5;
		font-weight: bold;
	}

	.container {
		// margin-top: .5em;
		// border: 1px solid red;
		// margin: 1em;
		padding: 1.75em 1em 0em 1em;
		@include media($medium-screen-down) {
			padding: .5em .5em 0em .5em;
		}
		@include outer-container;
		// height: 500px;

		.post-meta {
			font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
			font-weight: bold;
			font-size: 1em;
			@include media($medium-screen-down) {
				font-size: .75em;
				line-height: 1.5em;
			}
			}
		.post-link, .post-title, .post-link-2, .post-title-2 {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
			}
		p {
			// font-family: Courier,"Courier New",monospace;
			font-size: 1.15em;
			line-height: 1.2em;
			// text-align: justify;
			a {
				color: #700000;
			}
		@include media($medium-screen-down) {
			font-size: 1em;
			line-height: 1.2em;
		}
		}
	}
	.post-link, .post-link-2 {
		font-size: 4em;
		text-align: center;
		@include media($medium-screen-down) {
			font-size: 1.75em;
	    }
	}
	.post-link-2 {
		font-weight: normal;
	}
	.post-title, .post-title-2 {
		font-size: 4em;
		text-align: center;
		// font-weight: bold;
		@include media($medium-screen-down) {
			font-size: 1.75em;
	    }
	}
	.post-title-2 {
		font-weight: normal;
	}
	.post-content {
	p {
		// padding: 0 6em;
		// margin-top: 1em;
	}
	img {
		display: block;
		margin: 1.5em auto;
		border: 1px solid #999999;
		border-radius: 2px;
		max-height: 720px;
	}
	}

	.texture-normal {
	  @include texture(180deg, lighten(#eeeeee, 1), darken(#eeeeee, 1), 67, 1); 
	}


}