.writing {
	header.navigation {
		background-color: #400000;
		// background-color: #000040;
		margin-bottom: 0px;
	}
	.centered-navigation {

		background-color: #700000;
		// background-color: #000070;
		font-size: 1.5em;
		margin-bottom: 1.5em;
		line-height: 1em;
		ul {
			// width: 840px;
		}
		}
	.cards {
	}

	.card {
		@include media($large-screen) {
	    @include span-columns(12);  
	    @include omega(3n);
	  }
	}
	.card, .card-header {
	  	background: #FAFAFA;
	}
	.card-header {
		// margin: 0 2em;
		padding: 2em ;
		color: #500000;
		a {
			color: #500000;
		}
	}
	.card-copy {
		height: auto;
		padding: 1.5em 3em 1.5em 3em;
	}
	.title {
		text-align: center;
		font-size: 145px;
		font-weight: normal;
		color: #500000;
	}
	.footer-2 {
		background: #400000;
		// background: #000040;
	}
	h2.code, h2.photo {
		opacity: .5;
	}
	.container {
		@include outer-container;
		// height: 500px;

		.post-meta {
			font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
			font-weight: bold;
			font-size: 1em;
			}
		.post-link, .post-title, .post-link-2, .post-title-2 {
		font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
			}
		p {
			font-family: Courier,"Courier New",monospace;
			font-size: 1.33em;
			line-height: 1.33em;
			// text-align: justify;
			a {
				color: #700000;
			}
		}
		width: 1050px
	}
	.post-link {
		font-size: 4em;
		text-align: center;
	}
	.post-link-2 {
		font-size: 4em;
		text-align: center;
		font-weight: normal;
	}
	.post-title {
		font-size: 4em;
		text-align: center;
		font-weight: bold;
	}
	.post-title-2 {
		font-size: 4em;
		text-align: center;
		font-weight: normal;
	}
	.post-content {
	p {
		// padding: 0 6em;
		// margin-top: 1em;
	}
	img {
		display: block;
		margin: 1.5em auto;
		border: 1px solid #111111;
	}
	}

}