---
layout: code
title: The Coding Life by Rod Machen
---
 <div class="container">
    <div class="section">

	  <h1 class="page-heading">The Coding Life</h1>
		<hr>
	  <ul class="post-list">
	    {% for post in site.categories.code limit: 10%}
	      <li>
	        <h2 class="center">
	          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	        </h2>
	        <p>{{ post.excerpt }}</p>
	      </li>
	      <hr>
	    {% endfor %}
	  </ul>
	  <a href="/code/index2.html"><h1 class="all-posts">All posts</h1>
	  <hr>
    </div>

    {% include shared/code-aside.html %}
 </div>  