<header class="site-header">

<div class="wrapper">
  <div><a href="/writing"><h1 class="logo hidden-small">M</h1></a></div>
  <div><a href="/writing"><h1 class="footer-name hidden-small">&copy Rod Machen 2015</h1></a></div>
  <div class="nav-right">
    <!-- <div><a href="javascript:void(0)"><h1 class="footer-nav">Linkedin</h1></a></div> -->
    <!-- <div><a href="https://github.com/rodmachen" target="blank"><h1 class="footer-nav hidden-small">GitHub</h1></a></div> -->
    <div><a href="https://twitter.com/rodmachen" target="blank"><h1 class="footer-nav hidden-small">Twitter</h1></a></div>
  </div>

</div>
  <div class="footer-mobile">
    <a href="/writing" class="hidden-large"><h1 class="footer-nav">&copy Rod Machen 2015</h1></a>
		<a href="/about" class="hidden-large"><h1 class="footer-nav">About</h1></a>
		<a href="/contact" class="hidden-large"><h1 class="footer-nav">Contact</h1></a>
  </div>
</header>
