<header class="site-header">

<div class="wrapper">
  <div><a href="/writing"><h1 class="logo">M</h1></a></div>
  <div><a href="/writing"><h1 class="header-name">Rod Machen</h1></a></div>
  <div class="nav-right hidden-small">
    <!-- <div><a href="javascript:void(0)"><h1 class="header-nav">Projects</h1></a></div> -->
    <!-- <div><a href="javascript:void(0)"><h1 class="header-nav">Categories</h1></a></div> -->
    <div><a href="/categories"><h1 class="header-nav">Categories</h1></a></div>
    <div><a href="/contact"><h1 class="header-nav">Contact</h1></a></div>
    <div><a href="/about"><h1 class="header-nav">About</h1></a></div>
  </div>
</div>

</header>
