// Our variables
$base-font-family: Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
$base-font-size:   16px;
$base-line-height: 1.25;

// $spacing-unit:     30px;

$text-color:       #111;
$background-color: #f6f6f6;
$brand-color:      #000030;