<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="javascript:void(0)">Food</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Austin</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Art</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Family</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Sports</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Published</a></li>
    </ul>
  </div>
</header>
