<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image"> -->
    </a>
    <a href="" class="centered-navigation-menu-button">Categories</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="/writing/SXSW.html">SXSW</a></li>
      <li class="nav-link"><a href="/writing/food.html">Food</a></li>
      <li class="nav-link"><a href="/writing/screens.html">Screens</a></li>
      <li class="nav-link"><a href="/writing/pages.html">Pages</a></li>
      <li class="nav-link"><a href="/writing/events.html">Events</a></li>
      <!-- <li class="nav-link"><a href="/writing/art.html">Art</a></li> -->
      <li class="nav-link"><a href="/writing/austin.html">Austin</a></li>
      <li class="nav-link"><a href="/writing/published.html">Published</a></li>
      <li class="nav-link"><a href="/writing/categories.html">More . . .</a></li>
      <li class="nav-link"><a href="/writing/about.html">About/Contact</a></li>
      <!-- <li class="nav-link"><a>|</a></li> -->
    </ul>
  </div>
</header>
