<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu"> 

      <li class="nav-link"><a href="/writing/food.html">Food</a></li>
      <li class="nav-link"><a href="/writing/.html">Screens</a></li>
      <li class="nav-link"><a href="/writing/.html">Art</a></li>
      <li class="nav-link"><a href="/writing/.html">Pages</a></li>
      <li class="nav-link"><a href="/writing/.html">Events</a></li>
      <li class="nav-link"><a href="/writing/.html">(More Categories)</a></li>
      <li class="nav-link"><a>|</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Published Work</a></li>
      <li class="nav-link"><a href="javascript:void(0)">About</a></li>
    </ul>
  </div>
</header>
