  <div class="aside">
      <div class="sub-aside">
        <h1 class="menu">About</h1>
        <p class="about-text"><strong>Writer, teacher, and aspiring coder.</p>
        <!-- <p class="about-text">My main interests are web development JavaScript, and making and breaking things.</p> -->
        <p class="about-text">My main interests are:</strong></p>
          <p class="about-text">-Web development</p>
          <p class="about-text">-JavaScript</p>
          <p class="about-text">-Making things</p>
          <p class="about-text">-Breaking things</p>
      </div>

    	<div class="sub-aside">
        <h1 class="menu">Contact</h1>
        <p><strong>Twitter:</strong><br><a href="https://twitter.com/rod_machen" target="blank">@rod_machen</a></p>
        <p><strong>GitHub:</strong><br><a href="https://github.com/rodmachen" target="blank">rodmachen</a></p>
        <p><strong>email:</strong><br>mail at rodmachen.com</p>
        <p><strong>LinkedIn:</strong><br>coming soon</p>
      </div>
  </div>

