<div class="aside">
	<div class="sub-aside">
      <h1 class="menu">Contact</h1>
      <p><strong>Twitter:</strong><br><a href="https://twitter.com/rod_machen" target="blank">@rod_machen</a></p>
      <p><strong>GitHub:</strong><br><a href="https://github.com/rodmachen" target="blank">rodmachen</a></p>
      <p><strong>email:</strong><br>mail at rodmachen.com</p>
      <!-- <p>@rod_machen</p> -->
    </div>
    <div class="sub-aside">
      <h1 class="menu">About</h1>
      <p><strong>Twitter:</strong><br><a href="https://twitter.com/rod_machen" target="blank">@rod_machen</a></p>
      <p><strong>GitHub:</strong><br><a href="https://github.com/rodmachen" target="blank">rodmachen</a></p>
      <p><strong>email:</strong><br>mail at rodmachen.com</p>
      <!-- <p>@rod_machen</p> -->
    </div>
</div>
