<div class="aside">
    <div class="sub-aside">
      <h1 class="menu">About</h1>
      <p class="about-text">I'm a writer and teacher learning to code.</p>
      <p class="about-text">My main interests are web development, JavaScript, and making and breaking things.</p>
    </div>

  	<div class="sub-aside">
      <h1 class="menu">Contact</h1>
      <p><strong>Twitter:</strong><br><a href="https://twitter.com/rod_machen" target="blank">@rod_machen</a></p>
      <p><strong>GitHub:</strong><br><a href="https://github.com/rodmachen" target="blank">rodmachen</a></p>
      <p><strong>email:</strong><br>mail at rodmachen.com</p>
      <p><strong>LinkedIn:</strong><br>coming soon</p>
    </div>

</div>
