<!-- <footer id="footer-primary" class="footer-primary"></footer> -->

<!-- <div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div> -->

<footer class="footer-2">
  <div class="footer-container">
  <a href="/" class="logo">
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"> -->
      <h1>M</h1>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">
      &copy;2013-<script>new Date().getFullYear()>2013&&document.write(new Date().getFullYear().toString().substr(2,2) + " ");</script>Rod Machen
    </a>
    <!-- <a href="" class="navigation-menu-button" id="js-mobile-menu">© 2014 Rod Machen</a> -->
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link" id="nav-name"><a href="/main"><h5>
          &copy; 2013-<script>new Date().getFullYear()>2013&&document.write(new Date().getFullYear().toString().substr(2,2) + " ");</script>Rod Machen
        </h5></a></li>
        <!-- <li class="nav-link" id="nav-name"><a href="/main"><h5>© 2014 Rod Machen</h5></a></li> -->
        <li class="nav-link" id="push-right"><a href="/writing"><h2 class="writing">writing</h2></a></li>
        <li class="nav-link"><a href="http://rodmachen.github.io/" target="blank"><h2 class="code">code</h2></a></li>
        <li class="nav-link"><a href="http://rodmachen.photography.s3-website-us-east-1.amazonaws.com/" target="blank"><h2 class="photo">photography</h2></a></li> 
      </ul>
      <!-- <ul id="navigation-menu" class="">
      </ul> -->

    </div>
<!--     <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </div>
      </div>
      <a href="javascript:void(0)" class="sign-up">Sign Up</a>
    </div> -->
    </div>
</footer>
