<!-- <nav id="nav-primary" class="nav-primary"></nav> -->

<header class="navigation">
  <div class="navigation-wrapper">
      <a href="/" class="logo">
      	<h1>M</h1>
      </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">Rod Machen</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link" id="nav-name"><a href="/"><h2>Rod Machen</h2></a></li>
        <li class="nav-link" id="push-right"><a href="/writing"><h2 class="writing">writing</h2></a></li>
        <li class="nav-link"><a href="/code"><h2 class="code">code</h2></a></li>
        <li class="nav-link"><a href="/photo"><h2 class="photo">photography</h2></a></li> </ul>
      <ul id="navigation-menu" class="">
      </ul>
    </div>
  </div>
</header>
