---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Rod Machen">
  <h1>About</h1>
  <p>Rod Machen is a freelance writer based in Austin, Texas.</p>
  <p>His main areas of interests are food, television, books, visual arts, and local culture of all kinds.</p>
  <p>His work frequently appears in the Austin Chronicle.</p>
</BaseLayout>
