---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact | Rod Machen">
  <h1>Contact</h1>
  <div class="contact-info">
    <p><strong>Email</strong>:<br /><em>mail at rodmachen.com</em></p>
    <p><a href="https://twitter.com/rodmachen" target="_blank"><strong>Twitter</strong></a>:<br />
    <a href="https://twitter.com/rodmachen" target="_blank"><em>@rodmachen</em></a></p>
    <p><a href="https://photo.rodmachen.com" target="_blank"><strong>Photography</strong></a>:<br />
    <a href="https://photo.rodmachen.com" target="_blank"><em>Still Images</em></a></p>
  </div>
</BaseLayout>

<style>
  .contact-info {
    text-align: center;
    font-size: 1.1rem;
  }

  .contact-info p {
    margin-bottom: 1.5rem;
  }
</style>
