---
title: Austin
layout: writing
---
  <div class="container">
	<h1 class="title responsive_headline">Austin</h1>
	<!-- <hr> -->
	<div class="cards">
	    {% for post in site.categories.writing %}
	    {% if post.tags contains 'Austin' %}
  		<div class="card">
    		<div class="card-header">
				<h1 class="post-link">
		          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		        </h1>
		        <h1 class="post-link-2">
		          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.sub-title }}</a>
		        </h1>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
  </div>