button {
	clear: both;
}

.essay-headline {
	/*text-align: center;*/
}

.form-control {

}

label {
    display: block;
    margin-bottom: .5em;
}


textarea {
    /*font-size: 1em;*/
    margin-bottom: 0;
}