body {
	font-family: Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
	background-color: #f6f6f6;
}

.essay-headline {
	text-align: center;
	color: #009000;
	background-color: #000050;
	height: 50px;
	margin: 0 0 .5em 0;
	padding: .5em 0;
	font-size: 2.75em;
	font-weight: bold;
}

h2 {
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-weight: bold;
	text-align: center;
	font-size: 3em;
	padding: .25em 0;
}

h3 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 1.75em;
	margin: .25em;
	padding-top: .5em;
	color: #007000;
}

p {
	margin: .33em;
	font-size: 1.25em;
}

.resubmit {
	text-align: center;
	font-style: italic;
	padding: 0 0 1em 0;
}
.results {
	width: 625px;
	margin: 0 auto;
	margin-top: .5em;
}

.text-box {
	width: 625px;
	margin: 0 auto;
	margin-top: .5em;
}

textarea {
	color: #000050;
	display: block;
	margin: 0 auto;
	width: 98%;
	font-size: 1em;
	font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}
