button {
	clear: both;
}

.essay-headline {
	text-align: center;
}

.form-control {

}

label {
    display: block;
    margin-bottom: .25em;
}

textarea {
    font-size: 1.1em;
    margin-bottom: 1em;
}